@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../fonts/HankenGrotesk-Bold.ttf') format('truetype'); /* Adjust the path accordingly */
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('.//Assets/background.jpg');
  background-size: cover; 
}

code {
  font-family: 'Hanken Grotesk'; 
}